body {    
    height: 100vh;
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

button {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

main {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

#copyright {;
	align-self: center;
    border: 1px solid #d6dace;
    border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	justify-self: center;
	margin-top: 100px;
    width: max-content;
}

#copyright p {
	font-size: .8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#login {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#logo {
	align-self: center;
    background-color: white;
    border: 1px solid #ced4da;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 50px;
    padding: 10px;
	transition: box-shadow .3s;
}#logo:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.form-control {
	position: relative;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	height: auto;
	padding: 10px;
	font-size: 16px;
}.form-control:focus {
	z-index: 2;
}