.parent-container {
    position: relative;
}

.container {
    text-align: justify;
    width: 60%;
    height: 60%;
    max-height: inherit;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 30%; left: 30%; bottom: 0%; right: 20%;
}

.margin{
    margin: auto;
}