<!doctype html>
<html>
    <body class="text-center">
        <main class="form-signin">
            <form>
                <!-- Logo -->
                <img id="logo" (click)="goHome()" src="assets/web/images/logo.png" alt="Logo" width="120" height="100">
                <!-- Username -->
                <span class="p-float-label">
                    <input id="float-input" class="form-control" type="text" pInputText> 
                    <label for="float-input">Usuario</label>
                </span>
                <br>
                <!-- Password -->
                <span class="p-float-label ">
                    <input id="float-input" class="form-control" type="text" pInputText> 
                    <label for="float-input">Contraseña</label>
                </span>
                <br>
                <!-- Buttons -->
                <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me"> Recuérdame
                    </label>
                  </div>
                <div class="p-grid">
                    <div class="p-col-5">
                        <button pButton (click)="doLogin()" type="button" label="Iniciar Sesión"></button>
                         &nbsp;
                        <button pButton (click)="doSignUp()" type="button" label="Registrarse" class="p-button-success"></button>
                    </div>
                </div>
                <p class="mt-5 mb-3 text-muted">&copy; Green World - 2021</p>  
            </form>       
        </main>
    </body>
</html>