
<div id="game-container">
    <section id="game-title">
        <div>
            <h1>Nombre del juego</h1>
            <h2>Nombre del autor</h2>
        </div>
    </section>

    <section id="game-canvas">
        <app-game></app-game>
    </section>

    <section id="game-info">
        <div id="game-rating">
            <img class='ratingstar' src="assets/web/images/full_star.png" alt="*">
            <img class='ratingstar' src="assets/web/images/full_star.png" alt="*">
            <img class='ratingstar' src="assets/web/images/full_star.png" alt="*">
            <img class='ratingstar' src="assets/web/images/half_star.png" alt="/">
            <img class='ratingstar' src="assets/web/images/empty_star.png" alt="">
        </div>
        <div id="game-fav">
            <div *ngIf="!faved; else elseBlock">
                <button pButton (click)="addToFav()" type="button" label="Añadir a favoritos"></button>
            </div>
            <ng-template #elseBlock>
                <div>
                    <button pButton (click)="removeFromFav()" type="button" label="Eliminar de favoritos" class="p-button-danger"></button>
                </div>
            </ng-template>
        </div>
    </section>

    <section id="game-comments">
        <h2>Comentarios</h2>
        <div id="comment-input">
            <input type="text" placeholder="Escribe un comentario..." class="p-inputtext p-component">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
            </svg>
        </div>
        <div id="comment-output">
            <div class="comment">
                <div class="comment-user">
                    <img class="comment-logo" src="assets/web/images/logo.png" alt="logo">
                    <label>Username</label>
                </div>
                <div class="comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="comment-date">21/12/2020</div>
            </div>
            <div class="comment">
                <div class="comment-user">
                    <img class="comment-logo" src="assets/web/images/logo.png" alt="logo">
                    <label>Username</label>
                </div>
                <div class="comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="comment-date">21/12/2020</div>
            </div>
        </div>
    </section>
</div>