#comment-input {
    display: flex;
}

#comment-input input {
    border: 1px solid #ced4da;
    border-radius: 10px;
    height: 40px;    
    width: 100%;
}

#comment-input svg {
    color: #6d757e;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 20px;    
    transition: .3s color;
}#comment-input svg:hover {
    color: #6d757e9c;
}

#comment-output {
    margin-top: 20px;
}

#game-container {
    display: flex;
    flex-direction: column;
}

#game-canvas {
    align-self: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1080px;
    margin: 20px;
}

#game-comments {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 20px;
    margin-top: 40px;
}

#game-info {
    align-self: center;
    display: flex;
}

#game-fav {
    margin-left: 20px;
}

#game-fav button {
    width: 180px;
}

#game-title {
    align-self: center;
    display: flex;
    margin-top: 5vh;
    width: 1080px;
}

#game-title h1 {
    font-size: 4em;
    margin-left: -3px;
}

.comment {
    border: 1px solid #ced4da;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px;
}

.comment div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.comment-logo {
    border: 1px solid #ced4da28;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.comment-user label {
    align-self: center;
    margin-top: 10px;
}

.ratingstar {
    width: 40px;
}