#comment-input {
    display: flex;
}

#comment-input input {
    border: 1px solid #ced4da;
    border-radius: 10px;
    height: 40px;    
    width: 100%;
}

#comment-input svg {
    color: #6d757e;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 20px;    
    transition: .3s color;
}#comment-input svg:hover {
    color: #6d757e9c;
}

#comment-output {
    margin-top: 20px;
}

#game-container {
    display: flex;
    flex-direction: column;
}

#game-canvas {
    align-self: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1080px;
    margin: 20px;
}

#game-comments {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 20px;
    margin-top: 40px;
}

#game-info {
    align-self: center;
    display: flex;
}

#game-fav {
    margin-left: 20px;
}

#game-fav button {
    width: 180px;
}

#game-title {
    align-self: center;
    display: flex;
    margin-top: 5vh;
    width: 1080px;
}

#game-title h1 {
    font-size: 4em;
    margin-left: -3px;
}

.comment {
    border: 1px solid #ced4da;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px;
}

.comment div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.comment-logo {
    border: 1px solid #ced4da28;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.comment-user label {
    align-self: center;
    margin-top: 10px;
}

.ratingstar {
    width: 40px;
}

@media screen and (max-width: 1280px) {
    #game-info {
        justify-content: center;
        width: 720px;
    }

    #game-title {
        width: 720px;
    }

    #game-canvas {
        height: 480px;
        width: 720px;
    }

    #game-comments {
        max-width: 720px;
    }

    .comment .comment-date {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    #game-info {
        width: 450px;
    }
    
    #game-title {
        width: 450px;
    }

    #game-title h1 {
        font-size: 2em;
        margin-left: -1px;
    }

    #game-title h2 {
        font-size: 1.2em;
    }

    #game-canvas {
        height: 300px;
        width: 450px;
    }

    #game-comments {
        max-width: 450px;
        margin: 20px;
        margin-top: 40px;
    }
    
    #game-fav {
        font-size: .3em;
    }

    .comment .comment-date {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    #game-info {
        flex-direction: column;
        width: 240px;
    }

    #game-rating {
        margin-bottom: 20px;
    }
    
    #game-title {
        width: 240px;
    }

    #game-title h1 {
        font-size: 1.2em;
        margin-left: -1px;
    }

    #game-title h2 {
        font-size: .7em;
    }

    #game-canvas {
        margin-top: 0;
        height: 160px;
        width: 240px;
    }

    #game-comments {
        max-width: 240px;
        margin: 20px;
        margin-top: 40px;
    }

    .comment .comment-date {
        display: none;
    }

    .comment-user {
        font-size: .5em;
    }

    .comment-logo {
        height: 36px;
        width: 36px;
    }

    .comment-text {
        font-size: .5em;
    }
}