
<head>
 
</head>
<body class="container">

    <h3>Mas jugados</h3>
    <div class="border">
        <tr>
            <br>
            <td><img width="100%"  src="assets/web/images/imagen1.png"/></td>
            &nbsp;
            <td><img width="100%"  src="assets/web/images/imagen2.png"/></td>
            &nbsp;
            <td><img width="100%"  src="assets/web/images/imagen3.png"/></td>
            &nbsp;
            &nbsp;
            &nbsp;
          </tr>
    </div>
    <br>
    <h3>Nuevos</h3>
    <div class = "border">
        <tr>
            <br>
            <td><img width="100%"  src="assets/web/images/imagen1.png"/></td>
            &nbsp;
            <td><img width="100%"  src="assets/web/images/imagen2.png"/></td>
            &nbsp;
            <td><img width="100%"  src="assets/web/images/imagen3.png"/></td>
          </tr>
    </div>

</body>
