.border {
    border-style: solid;
}

.container {
    width: 90%;
    height: 90%;
    max-height: inherit;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 60%; left: 10%; bottom: 0; right: 10%;
}

.parent-container {
    position: relative;
}

.margin{
    margin: auto;
}