
<div id="editor-container">
    <section id="editor-level">
        <h1>Editor</h1>
        <div>
            <label>Nivel: </label>
            <p-dropdown [options]="levels" [(ngModel)]="selectedLevels" optionLabel="name" maxSelectedLabels=1></p-dropdown>
        </div>
    </section>

    <section id="game-canvas">
        <app-game></app-game>
    </section>

    <section id="editor-info">
        <div id="editor-save">
            <div *ngIf="!saved; else elseBlock">
                <button pButton (click)="save()" type="button" label="Guardar"></button>
            </div>
            <ng-template #elseBlock>
                <div>
                    <button pButton (click)="update()" type="button" label="Actualizar"  class="p-button-success"></button>
                </div>
            </ng-template>
        </div>
    </section>
</div>