#editor-container {
    display: flex;
    flex-direction: column;
}

#editor-info {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    width: 1080px;
}

#editor-level {
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 1080px;
}

#editor-level div {
    align-self: center;
}

#editor-level h1 {
    font-size: 4em;
}

#editor-level label {
    margin: 0;
    margin-right: 10px;
    align-self: center;
}

#game-canvas {
    align-self: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-top: 0;
    text-align: center;
    height: 720px;
    width: 1080px;
}

canvas {
    
    border-radius: 10px;
}
