
header {
    background-color: #f1f1f1;
    max-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    max-height: inherit;
}

.userlogo {
    max-width: 50px;
    max-height: 50px;
}