header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ced4da;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    max-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#authentication {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    width: 200px;
}

#login {
    align-self: center;
    cursor: pointer;
    margin-right: 20px;
    width: max-content;
    transition: .3s color;
}#login:hover {
    color: #6d757e9c;
}

#login svg {
    color: #6d757e;
    height: 24px;
    width: 24px;
    margin-left: 5px;
}

#logo {
    border-right: 1px solid #ced4da;
    border-radius: 0 0 20px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    padding: 10px;
	transition: box-shadow .3s;
    width: 150px;
}#logo:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#logo > img {
    height: 100%;
}

#logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

#logout svg {
    color: #6d757e;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 6px;
    transition: .3s color;
}#logout svg:hover {
    color: #6d757e9c;
}

#search {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40vw;
}

#search > input {
    width: 25vw;
}

#search > svg {
    color: #6d757e;
    height: 28px;
    width: 28px;
    margin-right: 20px;
}

#userlogo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#userlogo svg {
    color: #6d757e;
    height: 50px;
    width: 50px;
}

/* @media only screen and (min-width: 640px) {
    .headerBrand {
        width: 25%;
    }
    .headerLink{
        width: 75%;
    }
    .imgLogo{
    width:70%;
    }
}
@media only screen and (min-width: 768px) {
    .headerBrand {
        width: 20%;
    }
}
@media only screen and (min-width: 992px) {
    .imgLogo{
        width:60%;
    }
}
@media only screen and (min-width: 1024px) {
    .headerBrand {
        width: 15%;
    }
}
@media only screen and (min-width: 1280px) {
    .headerBrand {
        width: 10%;
    }
} */