/* You can add global styles to this file, and also import other style files */
@import "assets/web/bootstrap.min.css";

html {
    height: 100%;
}

body {
    background-color: #c1c1c100;
    color: #6d757e;
}

app-root {
    background-color: #c1c1c11a;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}